
<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Internet para acessar iFood, 99Food e OCR -->
    <uses-permission
        android:name="android.permission.INTERNET" />

    <!-- Permissão para utilizar a câmera -->
    <uses-permission
        android:name="android.permission.CAMERA" />

    <!-- Permite instalação em aparelhos sem câmera -->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <application
        android:theme="@style/Theme.DaRoca"
        android:label="Da Roça Entregas"
        android:usesCleartextTraffic="false">

        <activity
            android:name=".MainActivity"
            android:exported="true">

            <!-- Abrir pelo ícone do celular -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

    </application>

</manifest>
